body{
	font-family: Courier,sans-serif;
	font-size: 20px;
	font-style: italic;
	color: red;
	background-image:url(https://c.wallhere.com/photos/39/41/Soviet_Union_USSR_war_artwork-236455.jpg!d);
	background-repeat: no-repeat;
	background-size: 100%;
}

button{
	font-family: Courier,sans-serif;
	font-size: 20px;
	font-style: italic;
	color: blue;
	background-color: grey;
	margin: 10px;

}

button:hover{
	color: darkred;
	background-color: red;
}
